# Security / Credentials
.env

# Python / Virtual Environments
venv/
.venv/
env/
__pycache__/
*.pyc

# Local Data Files
*.csv

# dbt Artifacts
luu_transformations/target/
luu_transformations/dbt_packages/
luu_transformations/logs/